# Ignore MongoDB files in /data
/cloud-computing-exercise-app/data/**

# Keep empty folder in repo
!/cloud-computing-exercise-app/data/.gitkeep

node_modules/

.idea/

# Ignore MongoDB files in /data
/data/**

# Keep empty folder in repo
!/data/.gitkeep
